*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.display-companies{
    background-color: white;
    height: 150px;
    overflow-y: scroll;
}

.update_track{
    display: none;
}

#profile{
    flex:0.7;
}
#track{
    flex:1;
}
#search{
    flex:1;
}
.welcome-heading{
    margin-top: 20px;
    text-align: center;
}
#logout{
    margin-right: 20px;
    position: absolute;
    right:0;
    
}
header{
    color: white;
    background-color:rgb(78, 78, 227);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form input{
   margin-bottom: 5px;
}
.deletebtn{
    margin-left: 70px;
}

footer{
    margin-top: 24px;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color:rgb(78, 78, 227);
}

footer p{
    margin: 0;
}

footer a{
    color: rgb(4, 249, 110);
}

/* laptop screens css */

@media only screen and (min-width: 992px){
    main{
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
    }
    footer{
        position: absolute;
    }

    main section{
        margin:10px;
    }

    #styleh2{
        font-weight: 350;
        color: rgb(197, 246, 253);
    }

}



/* mobile screens css */
@media only screen and (max-width:992px){
    main section{
        margin: 50px 10px;
    }

    #styletrack{
        display: block;
        text-align: center;
        font-weight: 500;
    }

    #styleh2{
        font-size: x-large;
        font-weight: 200;
        color: rgb(197, 246, 253);
    }
}

